:root {
  /* Backgrounds, hero sections, navbars */
  --primary-color: #0a0a0a;
  /* Primary CTAs, icons, bold highlights */
  --accent-1: oklch(35.8% 0.288 302.321);
  --accent-1-op: rgba(96, 0, 180, 0.8);
  /* Secondary accents, links, hover effects */
  --accent-2: rgba(0, 240, 208, 0.7);
  /* Light mode backgrounds, cards */
  --light-background: #ececec;
  /* Text on light backgrounds */
  --text-dark: #0d0d0d;
  /* Text on dark backgrounds */
  --text-light: #ffffff;
  /* Text on dark backgrounds */
  --text-light-second: #dddddd;
  /* Subtext, UI hints */
  --text-muted: #808080;
}

.flex {
  display: flex;
  align-items: center;
}

/* Main Layout */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: auto;
  /* overflow: hidden; */

  font-family: "Bricolage Grotesque", sans-serif;

  background-color: var(--primary-color);
  color: var(--text-light);
}

/* NavBar */

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.navbar {
  width: 100vw;
  height: 5.6rem;

  font-size: 2.4rem;

  /* margin-top: 5.6rem; */
  padding: 0 2.8rem 0 2.8rem;

  /* background-color: var(--accent-1); */
  background: linear-gradient(
    to bottom,
    oklch(35.8% 0.288 302.321),
    oklch(25% 0.288 302.321)
  );

  justify-content: space-between;

  /* transition: 3s all; */
}

.nav-top {
  height: 5.6rem;
  color: var(--text-light);
}

.nav-contact {
  height: 100%;

  width: 95vw;

  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.9rem;

  font-size: 1.9rem;
}

.nav-el-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.nav-el {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
}

.navbar:has(.nav-el:hover) .nav-el {
  opacity: 0.4;
}

.nav-el:hover {
  opacity: 1 !important;
}

.nav-left {
  gap: 1rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-size: 2.8rem;
}

.nav-right ul {
  list-style: none;
  gap: 3.2rem;
}

.nav-right ul li a {
  text-decoration: none;
  font-weight: 400;
  color: var(--text-light-second);
}

/* Home Header (HomeTop) */

.header-main {
  width: auto;
  margin: 3.2rem 0 0 8rem;
  gap: 16rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.header-main h1 {
  font-size: 8.2rem;
  line-height: 8rem;
}

.header-main p {
  font-size: 2.2rem;
  letter-spacing: 0.4px;
  line-height: 3rem;
}

.header-btns {
  gap: 2.4rem;
}

.header-btns a {
  text-decoration: none;
  width: 21rem;
  height: 4.8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.05rem;
  font-weight: 600;
}

.h-services-btn:link,
.h-services-btn:visited,
.h-services-btn:active {
  background-color: var(--light-background);
  color: var(--accent-1);

  transition: 0.3s all;
}

.h-services-btn:hover {
  background-color: var(--accent-1);
  color: var(--light-background);
}

.h-contact-btn:link,
.h-contact-btn:visited,
.h-contact-btn:active {
  background-color: var(--accent-1);
  color: var(--text-light);

  transition: 0.3s all;
}

.h-contact-btn:hover {
  background-color: var(--light-background);
  color: var(--accent-1);
}

.services-drop {
  display: inline-block;
  transition: 0.3s ease;

  font-size: 1.2rem !important;
  /* margin-top: 0.2rem; */
  transform: rotate(180deg);
}

.nav-ser:hover .services-drop {
  transform: rotate(360deg);
  margin-top: 0.35rem;
}

/* HomeServices (Bottom of the landing) */

.services-left {
  align-items: start;
  flex-direction: column;
}

.landing-services {
  margin-top: 17.5rem;
  margin-bottom: 17.5rem;

  /* flex-direction: column; */
  align-items: start;
  gap: 6.4rem;
}

.landing-div {
  width: 12rem;
  height: 0.6rem;
  background-color: var(--accent-1);

  margin-bottom: 0.8rem;
}

.landing-services h1 {
  font-size: 3.8rem;
}

.services-text {
  font-size: 0.8rem;
  margin: 0;
  color: var(--text-light-second) !important;
}

.services-separator {
  margin-top: 18rem;
  width: 0.6rem;
  height: 12rem;
  background-color: var(--accent-1);
}

/* Items from the list of benefits */

.services-right ul {
  list-style: none;

  flex-direction: column;
  align-items: start;
  gap: 2rem;

  margin-top: 3.4rem;
}

.services-right ul li h3 {
  font-size: 2.1rem;
}

.ser-text {
  margin-top: 0.8rem;
  font-size: 1.8rem !important;
}
.ser-span-text {
  font-size: 1.6rem !important;
  font-weight: 500 !important;
}

.ser-margin-text {
  margin-top: 2.4rem;
}

/* Home CTA */

.home-cta-container {
  /* width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  gap: 8.4rem;

  margin-bottom: 17.5rem;
}

.home-cta-container h1 {
  font-size: 8.4rem;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10rem;
}

.form-container h3 {
  width: 35vw;
  font-size: 3.2rem;

  color: var(--text-light-second);
}

.contact-form {
  display: flex;
  align-items: start;
  /* justify-content: center; */
  flex-direction: column;

  margin-left: 8rem;

  gap: 1.2rem;

  border-radius: 2rem;

  font-size: 2.9rem;
  font-weight: 600;

  padding: 3.6rem 8.2rem;

  background-color: var(--accent-1-op);

  /* box-shadow: 0 7.5px 25px rgba(255, 255, 255, 0.2); */
}

.contact-form label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* espacio entre label y input */
}

.contact-form button {
  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;

  margin-top: 1.2rem;

  text-decoration: none;
  width: auto;
  padding: 2.2rem 2.2rem;
  height: 2.4rem;

  border-radius: 0.5rem;

  background-color: var(--accent-2);
  color: var(--text-light);

  border: 0;

  font-size: 2.2rem;
  letter-spacing: 1.2px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s all;
}

.contact-form button:hover {
  background-color: var(--text-muted);
}

.contact-form button:active {
  background-color: var(--accent-2);
}

.contact-form input {
  padding: 0.6rem;

  font-weight: 550;

  font-size: 1.8rem;
}

.contact-form .input-email,
.contact-form .input-message {
  width: 20rem;
}

.contact-form .input-email {
  padding: 0.9rem 0.6rem;
  font-size: 1.4rem;
}

.contact-form .input-message {
  height: 3.6rem;

  padding: 0.6rem;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

/* Cost Header */
.cost-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cost-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  margin-top: 3vh;

  flex-direction: column;
}

.cost-title {
  font-size: 6.2rem;
  text-align: center;
}

.cost-title-desc {
  font-size: 2.8rem;
  text-align: center;
  color: var(--text-light-second);
}

.price-cards-grid {
  display: grid;

  margin: 2.6rem 15vw 0 15vw;

  grid-template-columns: repeat(3, 1fr);

  gap: 2.5rem;

  row-gap: 3.5rem;
}

/* Price Card */

.price-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* opcional */
  height: 100%; /* asegura que ocupe todo el espacio disponible */
  padding: 0.6rem 1.5rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.price-content {
  /* background-color: var(--light-background); */
  color: var(--text-dark);
  border-radius: 10px;

  /* padding: 1.8rem; */

  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  margin-top: 1.6rem;
}

.price-title {
  font-size: 2.6rem;
}

.price-divider {
  width: 15rem;
  height: 0.4rem;
  background-color: var(--accent-1);

  margin: 0.5rem 0 0.5rem 0;
}

.price-cost {
  margin-top: -0.5rem;
  font-size: 2.2rem;

  color: #444;
}

.price-desc {
  /* margin-top: -0.5rem; */
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.price-features {
  font-size: 1.6rem;
  margin-left: 1.3rem;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.price-btn:link,
.price-btn:visited,
.price-btn:active {
  text-decoration: none;
  width: 16rem;
  height: 4.8rem;

  border-radius: 10px;

  margin-top: 1.6rem;

  background-color: var(--accent-1);
  color: var(--text-light);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.05rem;
  font-weight: 600;

  margin-bottom: 0.5rem;

  transition: 0.3s all;
}

.price-btn:hover {
  background-color: #ffffff; /* fondo blanco */
  color: var(--accent-1); /* texto en color principal */
  border: 2px solid var(--accent-1);
}

/* Cost Footer */
.cost-footer-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  margin-top: 7.8rem;
}

.cost-form-ct {
  width: 90vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form-price {
  margin-top: 4.2rem;

  margin-bottom: 4.6rem;

  margin-left: 12.5rem;

  width: 36.8rem;
}

/* Projects Header */

.project-header-container {
  width: 100vw;

  margin-top: 4.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 1.2rem;
}

.project-title {
  text-align: center;
  font-size: 6.2rem;
}

.project-title-second {
  font-size: 4.4rem;
  text-align: center;
  color: var(--text-light-second);

  line-height: -100x;
}
