:root {
  /* Backgrounds, hero sections, navbars */
  --primary-color: #0a0a0a;
  /* Primary CTAs, icons, bold highlights */
  --accent-1: oklch(35.8% 0.288 302.321);
  /* Secondary accents, links, hover effects */
  --accent-2: #00f0d1;
  /* Light mode backgrounds, cards */
  --light-background: #ececec;
  /* Text on light backgrounds */
  --text-dark: #0d0d0d;
  /* Text on dark backgrounds */
  --text-light: #ffffff;
  /* Text on dark backgrounds */
  --text-light-second: #dddddd;
  /* Subtext, UI hints */
  --text-muted: #808080;
}

.flex {
  display: flex;
  align-items: center;
}

/* Main Layout */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: auto;
  /* overflow: hidden; */

  font-family: "Bricolage Grotesque", sans-serif;

  background-color: var(--primary-color);
  color: var(--text-light);
}

/* NavBar */

.navbar {
  width: 100vw;
  height: 5.6rem;

  font-size: 2.4rem;

  margin-top: 5.6rem;
  padding: 0 2.8rem 0 2.8rem;

  /* background-color: var(--accent-1); */
  background: linear-gradient(
    to bottom,
    oklch(35.8% 0.288 302.321),
    oklch(25% 0.288 302.321)
  );

  justify-content: space-between;

  /* transition: 3s all; */
}

.nav-el {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
}

.navbar:has(.nav-el:hover) .nav-el {
  opacity: 0.4;
}

.nav-el:hover {
  opacity: 1 !important;
}

.nav-left {
  gap: 1rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-size: 2.8rem;
}

.nav-right ul {
  list-style: none;
  gap: 3.2rem;
}

.nav-right ul li a {
  text-decoration: none;
  font-weight: 400;
  color: var(--text-light-second);
}

/* Home Header (HomeTop) */

.header-main {
  width: auto;
  margin: 3.2rem 0 0 8rem;
  gap: 16rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.header-main h1 {
  font-size: 8.2rem;
  line-height: 8rem;
}

.header-main p {
  font-size: 2.2rem;
  letter-spacing: 0.4px;
  line-height: 3rem;
}

.header-btns {
  gap: 2.4rem;
}

.header-btns a {
  text-decoration: none;
  width: 21rem;
  height: 4.8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.05rem;
  font-weight: 600;
}

.h-services-btn:link,
.h-services-btn:visited,
.h-services-btn:active {
  background-color: var(--light-background);
  color: var(--accent-1);

  transition: 0.3s all;
}

.h-services-btn:hover {
  background-color: var(--accent-1);
  color: var(--light-background);
}

.h-contact-btn:link,
.h-contact-btn:visited,
.h-contact-btn:active {
  background-color: var(--accent-1);
  color: var(--text-light);

  transition: 0.3s all;
}

.h-contact-btn:hover {
  background-color: var(--light-background);
  color: var(--accent-1);
}

.services-drop {
  display: inline-block;
  transition: 0.3s ease;

  font-size: 1.2rem !important;
  /* margin-top: 0.2rem; */
  transform: rotate(180deg);
}

.nav-ser:hover .services-drop {
  transform: rotate(360deg);
  margin-top: 0.35rem;
}

/* HomeServices (Bottom of the landing) */

.services-left {
  align-items: start;
  flex-direction: column;
}

.landing-services {
  margin-top: 10rem;
  margin-bottom: 32rem;

  /* flex-direction: column; */
  align-items: start;
  gap: 6.4rem;
}

.landing-div {
  width: 12rem;
  height: 0.6rem;
  background-color: var(--accent-1);

  margin-bottom: 0.8rem;
}

.landing-services h1 {
  font-size: 3.8rem;
}

.services-text {
  font-size: 0.8rem;
  margin: 0;
  color: var(--text-light-second) !important;
}

.services-separator {
  margin-top: 18rem;
  width: 0.6rem;
  height: 12rem;
  background-color: var(--accent-1);
}

/* Items from the list of benefits */

.services-right ul {
  list-style: none;

  flex-direction: column;
  align-items: start;
  gap: 2rem;

  margin-top: 3.4rem;
}

.services-right ul li h3 {
  font-size: 2.1rem;
}

.ser-text {
  margin-top: 0.8rem;
  font-size: 1.8rem !important;
}
.ser-span-text {
  font-size: 1.6rem !important;
  font-weight: 500 !important;
}

.ser-margin-text {
  margin-top: 2.4rem;
}
