---

---

<section class="about-container">
    <h1>Cada negocio tiene el potencial de convertirse 
    <br>  
    en una historia de éxito</h1>

    <p class="about-text">
      Fundada en 2025, Astodev nace de la visión compartida de un equipo de profesionales con más de 5 años de experiencia en tecnología y marketing digital. Nuestro enfoque combina desarrollo de software a medida, optimización de operaciones, automatización de procesos y ventas en línea, para brindarte exactamente lo que tu negocio necesita en cada etapa de su crecimiento
    </p>

    <article class="about-mv">
      <div class="about-mission">
        <h2>Nuestra Misión</h2>
        <p>Ayudamos a nuestros clientes a alcanzar su máximo potencial, ofreciéndoles herramientas tecnológicas potentes, confiables y adaptadas a sus objetivos. Más allá de la tecnología, construimos relaciones de confianza a largo plazo para acompañarlos en cada paso de su transformación digital.</p>
      </div>

      <div class="about-vision">
        <h2>Nuestra Visión</h2>
        <p>Convertirnos en la empresa de software líder en América Latina, reconocida por la calidad de nuestras soluciones y por el impacto positivo que generamos en los negocios que confiaron en nosotros.</p>
      </div>
    </article>

    <h3>Estás a un paso de llevar tu negocio 
      <br>
      al siguiente nivel</h3>
      <p class="about-form-text">
         Déjanos saber qué necesitas en el formulario de abajo y uno de nuestros expertos se pondrá en contacto contigo para asesorarte sobre cómo podemos ayudar a tu negocio
      </p>
</section>