---
import Form from '../components/Form.astro';
---

<section class="ctus-container">
  <h1 class="ctus-title">
    Estás a un click de llevar tu 
    <br>
    negocio al siguiente nivel
  </h1>

  <h2 class="ctus-subtitle">
    En Astodev, estamos listos para ayudarte a llevar tu idea al siguiente nivel. 
    <br>
    Completa el formulario y uno de nuestros expertos te contactará lo antes posible para empezar.
  </h2>

  <div class="ctus-forms">
    <Form />

    <div class="ctus-forms-other">
      <h3>También puedes contactarnos a través de:</h3>

      <ul class="ctus-other-options">
        <li>
          <ion-icon name="mail-open-outline" class="nav-mail-icon md hydrated ctus-icon" role="img"></ion-icon>
          <p>Email: <span class="ctus-other-data">ventas@astodev.com</span></p>
        </li>

        <li>
          <ion-icon name="call-outline" role="img" class="md hydrated ctus-icon"></ion-icon>
          <p>Teléfono:<span class="ctus-other-data"> +57 301 6768911</span></p>          
        </li>

        <li>
          <ion-icon name="logo-instagram" class="ctus-icon"></ion-icon>
          <p>Instagram: <span class="ctus-other-data">@astodev.tech</span></p>
        </li>
      </ul>
    </div>
  </div>
</section>
