---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  // {
  //   title: "Bring Your Own Framework",
  //   description:
  //     "Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
  //   icon: "bx:bxs-briefcase",
  // },
  {
    title: "Desarrollo de Páginas Web",
    description:
      "Convertimos tu idea en un sitio web líder que te haga destacar y atraiga nuevos clientes para tu negocio.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Automatizaciones y Arquitectura",
    description:
      "Reportes de ventas? ¿Bases de datos? Con nuestras herramientas, tendrás toda la información que tu negocio necesita al alcance de un solo clic.",
    icon: "bx:bxs-data",
  },
  {
    title: "Bots y Agentes de IA",
    description:
      "Gracias a nuestras herramientas, podras automatizar desde la comunicación con clientes hasta el intercambio de información entre tus aplicaciones.",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO Optimizado",
    description:
      "Con nuestra experiencia, herramientas y estrategia de última generación, garantizamos que tus sitios tendrán la mejor visibilidad en línea posible.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Creación de Comunidades",
    description:
      "Usamos las mejores estrategias y plataformas para impactar a tus consumidores y convertirlos en clientes recurrentes.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0 ">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Todo lo que necesitas para potenciar tu negocio:
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    En Astodev, transformamos tus ideas en soluciones tecnológicas personalizadas que impulsan 
    el crecimiento de tu negocio. Diseñamos y desarrollamos herramientas innovadoras para optimizar procesos, 
    ahorrar tiempo y reducir costos, siempre ofreciéndote la mejor calidad al mejor precio del mercado.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
