---

---

<form class="contact-form-price contact-form" name="contact" method="POST" data-netlify="true">
  <input type="hidden" name="form-name" value="contact" />
  <label>
    Nombre:
    <input type="text" name="name" required />
  </label>
  <label>
    Empresa:
    <input type="text" name="company" required />
  </label>
  <label>
    Email:
    <input type="email" class="input-email" name="email" required />
  </label>
  <label>
    Mensaje:
    <textarea name="message" class="input-message" required></textarea>
  </label>
  <button type="submit">Enviar</button>
</form>
