---

---

<article class="landing-services header-main flex">
  <div class="services-left flex">
  <span class="landing-div"></span>
  <h1>Hazte Visible, y Crece sin Límites...</h1>
  <p class="header-main services-text">
    En un mundo donde todo empieza con una búsqueda online,
    <br>
    tu empresa no puede darse el lujo de pasar desapercibida. 
    <br>
    En Astodev te ayudamos a construir una presencia digital 
    <br>
    sólida, estratégica y orientada al crecimiento. 
    <br>
    Sitios web, automatización, herramientas inteligentes 
    <br>
    y todo lo que necesitas para destacar… y escalar.
  </p>

  <p class="header-main services-text ser-margin-text">
    Tu competencia ya está invirtiendo en su 
    <br>
    transformación digital, y la pregunta es: 
    <br>
    ¿vas a liderar el cambio o a quedarte atrás?
    <br>
  </p>
    
  <p class="header-main services-text ser-margin-text"> 
    Con Astodev, conviertes tu visión en resultados concretos.
    <br>
    Tecnología a tu medida, impacto real en tu negocio.
  </p>
  </div>

  

  <div class="services-right flex">
    <span class="services-separator"></span>
    <ul class="flex">
      <li>
        <h3>"El 97% de los consumidores busca en internet 
          <br>
          antes de comprar un producto o contratar un servicio."
        </h3>
        <p class="ser-text">
          Fuente: Think With Google          
        </p>
        <p class="ser-span-text">          
          → Si tu empresa no aparece, no existe.
        </p>
      </li>

      <li>
        <h3>"Las empresas con una fuerte presencia digital 
          <br>
          tienen un 2.8x más de probabilidades de
          <br>
          aumentar sus ingresos año tras año."
        </h3>
        <p class="ser-text">
          Fuente: Deloitte Digital
        </p>
        <p class="ser-span-text">          
          → Estar en línea ya no es una ventaja. Es una necesidad.
        </p>
      </li>

      <li>
        <h3>
          "El 80% de las empresas que invierten en 
          <br>
          automatización aumentan la eficiencia 
          <br>
          de su equipo hasta en un 30%."
        </h3>
        <p class="ser-text">
          Fuente: McKinsey
        </p>
        <p class="ser-span-text">          
          → La tecnología no reemplaza personas. Las potencia.
        </p>
      </li>
    </ul>
  </div>
</article>