---
import Form from "../components/Form.astro"
---

<article class="home-cta-container">
<h1>
  Llego la hora de llevar tu negocio al siguiente nivel
</h1>

<div class="form-container">
<Form />
<h3>
  ¿Listo para transformar tu negocio? 
  <br>
  <br>
  Déjanos tu información y uno de nuestros expertos en Astodev
  se pondra en contacto contigo para guiarte en el camino.
</h3>
</div>
</article>
