---

---

<main class="flex header-main">
  <img src="/coding-boy.png" alt="coding-boy-img">
  <div class="header-content">
    <h1>Toda la tecnología 
      <br>
      para tu negocio, 
      <br>
      en un solo lugar</h1>
    <p>En Astodev, somos expertos en crear soluciones digitales 
      <br>
      innovadoras para impulsar tu negocio. 
      <br>
      Especialistas en páginas web, automatización 
      <br>
      y E-commerce, desarrollamos herramientas que harán 
      <br>
      que tu negocio destaque en todos los mercados.</p>  

    <div class="header-btns flex">
      <a class="h-services-btn" href="/servicios">Nuestros Servicios</a>
      <a class="h-contact-btn" href="/contactanos">Contáctanos</a>
    </div> 
  </div>
  
</main>

