---

---

<header class="navbar-container">
  <div class="nav-top">
    <div class="nav-contact">
      <div class="nav-el-container">
      <ion-icon name="mail-open-outline" class="nav-mail-icon"></ion-icon>
      <p class="nav-mail-text">ventas@astodev.com</p>
      </div>
      <p class="nav-text-divider">|</p>

      <div class="nav-el-container">
      <ion-icon name="call-outline"></ion-icon>
      <p class="nav-phone-text">+57 301 6768911</p>
      </div>
    </div>
  </div>

  <nav class="navbar flex">
    <a href="/" class="nav-left-link">
    <div class="nav-left flex">
      <span class="logo-text">Astodev</span>
      <span class="logo-src">&lt;/&gt;</span>
    </div>
    </a>

    <div class="nav-right">
      <ul class="flex">
        <!-- <li><a href="" class="nav-el nav-ser">Servicios <span class="services-drop">&#x25BC;</span></a></li> -->
        <li><a href="/servicios" class="nav-el">Servicios</a></li>
        <li><a href="/proyectos" class="nav-el">Proyectos</a></li>
        <li><a href="" class="nav-el">Nosotros</a></li>
        <li><a href="/contactanos" class="nav-el">Contáctanos</a></li>
      </ul>
    </div>
  </nav>
</header>
