---

---

<header>
  <nav class="navbar flex">
    <div class="nav-left flex">
      <span class="logo-text">Astodev</span>
      <span class="logo-src">&lt;/&gt;</span>
    </div>

    <div class="nav-right">
      <ul class="flex">
        <!-- <li><a href="" class="nav-el nav-ser">Servicios <span class="services-drop">&#x25BC;</span></a></li> -->
        <li><a href="../pages/pricing" class="nav-el">Servicios</a></li>
        <li><a href="" class="nav-el">Proyectos</a></li>
        <li><a href="" class="nav-el">Nosotros</a></li>
        <li><a href="" class="nav-el">Contáctanos</a></li>
      </ul>
    </div>
  </nav>
</header>
